{% extends "base.html" %}
{% block content %}
<a class="backline" href="/">Home</a>
<h1>{{ object.title }}</h1>
<p class="byline">
         {% load tz %}
         {% timezone "US/Pacific" %}
         Post by {{ object.author.username }} &mdash; {{ object.published_date }} Pacific Time
         {% endtimezone %}
</p>
<div class="blog-body">
    {{ object.text }}
</div>
<ul class="categories">
          {% for category in object.categories.all %}
             <li>
                {{ category }}{% if not forloop.last %},{% endif %}
            </li>
          {% endfor %}
</ul>
{% endblock %}