{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>My Cool Blog Posts</h1>
    <a href="{% url 'add_post' %}" class="btn btn-primary" {% if not user.is_authenticated %}disabled{% endif %}>Add Post</a>
</div>

{% for post in posts %}
    <div class="blog">
        <h2>
            <a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a>
        </h2>
        <p class="byline">
            {% load tz %}
            {% timezone "US/Pacific" %}
            <span class="author">Post by {{ post.author.username }}</span><br>
            <span class="published-date">Published on {{ post.published_date }} Pacific Time</span><br>
            <span class="updated-date">Last Updated on {{ post.created_date }} Pacific Time</span>
            {% endtimezone %}
        </p>
        <div class="blog-body">
            {{ post.text }}
        </div>
        <ul class="categories">
        {% for category in post.categories.all %}
            <li>
                {{ category }}{% if not forloop.last %},{% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
{% endfor %}
{% endblock %}
